<form action="/newDocente" method="POST" class="card bg-black text-light">
  <div class="card-body p-4">
    <div class="mb-3">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        name="nombre"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="escriba el nombre completo"
        autofocus
        required
      />
    </div>
    <div class="mb-3">
      <label for="apellido">Apellido:</label>
      <input
        type="text"
        name="apellido"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="escriba el apellido"
        autofocus
        required
      />
    </div>
    <div class="mb-3">
      <label for="direccion">Direccion:</label>
      <input
        type="text"
        name="direccion"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="calle n° - Ciudad"
        required
      />
    </div>
    <div class="mb-3">
      <label for="dni">Dni:</label>
      <input
        type="text"
        name="dni"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="N° de Documento sin puntos"
        required
      />
    </div>
    <div class="mb-3">
        <label for="generoo">Genero:</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genero" value="masculino">
          <label class="form-check-label" for="genero">Masculino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genero" value="femenino">
          <label class="form-check-label" for="genero">Femenino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genero" id="inlineRadio3" value="no binario">
          <label class="form-check-label" for="genero">No Binario</label>
        </div>
      </div>
    <div class="mb-3">
      <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
      <input
        type="date"
        name="fecha_nacimiento"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="dia / mes / año"
        required
      />
    </div>
    <div class="mb-3">
      <label for="telefono">telefono:</label>
      <input
        type="text"
        name="telefono"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="+54 codigo area + numero"
      />
    </div>
    <div class="mb-3">
      <label for="email">Email:</label>
      <input
        type="text"
        name="email"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="ej: colegio@dominio.com.ar"
      />
    </div>
    <button class="btn btn-primary">Guardar</button>
  </div>
</form>
