<form action="/newDocente" method="POST" class="card bg-black text-light">
  <div class="card-body p-4">
    <!-- <h1 class="h5 mb-4">Agregar Datos del Docente</h1> -->

    <div class="mb-3">
      <label for="colegio">Colegio:</label>
      <select name="id_colegio" class="form-select form-select-sm" aria-label=".form-select-sm example">
        {% for colegio in colegios %}
          <option value="{{colegio.id_colegio}}">{{colegio.nombre_colegio}}</option>
        {% endfor %}  
      </select>
    </div>
    <div class="mb-3">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        name="nombre"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="escriba el nombre completo"
        autofocus
        required
      />
    </div>
    <div class="mb-3">
      <label for="apellido">Apellido:</label>
      <input
        type="text"
        name="apellido"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="escriba el apellido"
        autofocus
        required
      />
    </div>
    <div class="mb-3">
      <label for="direccion">Direccion:</label>
      <input
        type="text"
        name="direccion"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="calle n° - Ciudad"
        required
      />
    </div>
    <div class="mb-3">
      <label for="cuil">Dni:</label>
      <input
        type="text"
        name="dni"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="N° de Documento sin puntos"
        required
      />
    </div>
    <div class="mb-3">
      <label for="fecha_nac">Fecha de Nacimiento:</label>
      <input
        type="date"
        name="fecha_nac"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="dia / mes / año"
        required
      />
    </div>
    <div class="mb-3">
      <label for="telefono">telefono:</label>
      <input
        type="text"
        name="telefono"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="+54 codigo area + numero"
      />
    </div>
    <div class="mb-3">
      <label for="email">Email:</label>
      <input
        type="text"
        name="email"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="ej: colegio@dominio.com.ar"
      />
    </div>
    <div class="mb-3">
      <label for="cargo">Cargo:</label> <span>Docente</span>
      <select name="cargo" class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option> Seleccionar </option>
          <option value="Titular">Titular</option>
          <option value="Suplente">Suplente</option>
          <option value="Interino">Interino</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="fecha_contratacion">Fecha de Inicio en Establecimiento:</label>
      <input
        type="date"
        name="fecha_contratacion"
        class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="dia / mes / año"
      />
    </div>
    <div class="mb-3">
      <label for="estado_contractual">Estado:</label> <span>Docente</span>
      <select name="estado_contractual" class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option>Seleccionar</option>
          <option value="Activo">Activo</option>
          <option value="Baja">Baja</option>
          <option value="Jubilado">Jubilado/a</option>
      </select>
    </div>

    <button class="btn btn-primary">Guardar</button>
  </div>
</form>
