<form action="/newAlumno" method="POST" class="row g-3 bg-white rounded-3 p-3">
    <div>
      {% if tutor %}
      <div class="mb-3">
        <label for="tutor">Tutor:</label><h3>{{tutor.apellido}}, {{tutor.nombre}}</h3>
        <!-- <label for="tutor_id" name="tutor_id" value="{{tutor.idTutor}}"></label> -->
        <input type="text"
          name="tutor_id"
          class="form-control-plaintext invisible"
          value="{{tutor.idTutor}}"
          autofocus
          readonly
          required
        />
        {% endif %}
      </div>

      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" name="nombre" class="form-control" placeholder="escriba el nombre" autofocus required/>
      </div>
      <div class="col-md-6">
        <label for="apellido" class="form-label">Apellido:</label>
        <input
          type="text"
          name="apellido"
          class="form-control"
          placeholder="escriba el apellido"
          autofocus
          required
        />
      </div>
      <div class="mb-3">
        <label for="cuil">Genero:</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sexo" value="masculino">
          <label class="form-check-label" for="sexo">Masculino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sexo" value="femenino">
          <label class="form-check-label" for="sexo">Femenino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sexo" id="inlineRadio3" value="no binario">
          <label class="form-check-label" for="sexo">No Binario</label>
        </div>
      </div>
      <div class="col-md-6">
        <label for="cuil">Cuil:</label>
        <input
          type="text"
          name="cuil"
          class="form-control"
          placeholder="cuil sin guiones"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="cuil">Fecha de Nacimiento:</label>
        <input
          type="date"
          name="fechaNac"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="lugarNac">Lugar de Nacimiento:</label>
        <input
          type="text"
          name="lugarNac"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="direccion">Direccion:</label>
        <input
          type="text"
          name="direccion"
          class="form-control"
          placeholder="calle n° - Ciudad"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="telefono">telefono:</label>
        <input
          type="text"
          name="telefono"
          class="form-control"
          placeholder="+54 codigo area + numero"
        />
      </div>
      <div class="col-md-6">
        <label for="email">Email:</label>
        <input
          type="text"
          name="email"
          class="form-control"
          placeholder="ej: colegio@dominio.com.ar"
        />
      </div>
      <div class="card text-bg-secondary mb-3 mb-3">
          <div class="card-header">
            <label>Condicion de Ingreso:</label>
          </div>
          <div class="card-body">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="condicionIngreso" value="Ingresante">
              <label class="form-check-label" for="condicionIngreso">Nuevo Ingresante</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="condicionIngreso" value="PaseDeEstablecimiento">
              <label for="condicionIngreso">Pase de Establecimiento</label>
            </div>
            <div class="form-check form-check-inline">
              <label for="colegioAnterior">Nombre de Colegio o Institucion</label>
              <input class="form-control" type="text" name="colegioAnterior">
            </div>
          </div>
      </div>
      <div class="col-md-4 btn-group" role="group" aria-label="Basic radio toggle button group">
        <button class="btn btn-sm btn-outline-primary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
          </svg> Guardar</button>
        <a class="btn btn-outline-danger btn-sm" href="{{url_for('alumnos.inscripcion')}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg> Cancelar</a>
      </div>
    </div>
  </form>
