<form action="/new_tutor" method="POST" class="row g-3">
  <div class="col-md-6">
    <label for="nombre_t" class="form-label">Nombre</label>
    <input type="text" name="nombre_t" class="form-control" required >
  </div>
  <div class="col-md-6">
    <label for="apellido_t" class="form-label">Apellido</label>
    <input type="text" name="apellido_t" class="form-control" required>
  </div>
  <div class="col-12">
    <label for="direccion_t" class="form-label">Direccion</label>
    <input type="text" class="form-control" name="direccion_t" placeholder="calle - nro - ciudad " required>
  </div>
  <div class="col-md-4">
    <label for="dni_t" class="form-label">N° Documento</label>
    <input type="text" class="form-control" name="dni_t" placeholder="nro de dni sin guiones" required>
  </div>
  <div class="mb-3">
        <label for="fecha_nacimiento_t">Fecha de Nacimiento:</label>
        <input
          type="date"
          name="fecha_nacimiento_t"
          class="form-control rounded-0 bg-dark border-0 text-white"
          required
        />
      </div>
  <div class="col-md-4">
    <label for="parentesco" class="form-label">Parentesco</label>
    <select name="parentesco" class="form-select">
      <option selected>elegir...</option>
      <option>Padre</option>
      <option>Madre</option>
      <option>Hermano-a</option>
      <option>Abuelo-a</option>
      <option>Otro</option>
    </select>
  </div>
  <div class="col-md-4">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="legal">Legal</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="legal" id="inlineRadio1" value="True">
      <label class="form-check-label" for="legal">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="legal" id="inlineRadio2" value="False">
      <label class="form-check-label" for="legal">No</label>
    </div>
  </div>
  <div class="col-md-6">
    <label for="telefono_t" class="form-label">Telefono</label>
    <input type="text" class="form-control" name="telefono_t" placeholder="cod area + nro celular o fijo" required>
  </div>
  <div class="col-6">
    <label for="email_t" class="form-label">Email</label>
    <input type="email" class="form-control" name="email_t" placeholder="usuario@dominio">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>