<div class="flex-shrink-0 p-3 bg-white border-end" style="min-height: 100%;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">Menú</span>
  </a>

  <ul class="list-unstyled ps-0">

    <!-- Docentes (abierto al cargar) -->
    <li class="mb-1">
      <button type="button"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
              data-bs-toggle="collapse"
              data-bs-target="#docentes-collapse"
              aria-expanded="true">
        Docentes
      </button>
      <div class="collapse show" id="docentes-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a href="{{ url_for('docentes.home') }}"
               class="link-dark d-inline-flex text-decoration-none rounded">
              Listar
            </a>
          </li>
          <li>
            <a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Agregar</a>
          </li>
          <li>
            <a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Asignaturas -->
    <li class="mb-1">
      <button type="button"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#asignaturas-collapse"
              aria-expanded="false">
        Asignaturas
      </button>
      <div class="collapse" id="asignaturas-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a href="{{ url_for('asignaturas.list') }}"
               class="link-dark d-inline-flex text-decoration-none rounded">
              Ver Todas
            </a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Cátedras -->
    <li class="mb-1">
      <button type="button"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#catedras-collapse"
              aria-expanded="false">
        Cátedras
      </button>
      <div class="collapse" id="catedras-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Nueva</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Ver Todas</a></li>
        </ul>
      </div>
    </li>

    <!-- Clases -->
    <li class="mb-1">
      <button type="button"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#clases-collapse"
              aria-expanded="false">
        Clases
      </button>
      <div class="collapse" id="clases-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Listar</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Nuevo</a></li>
        </ul>
      </div>
    </li>

    <!-- Cursos -->
    <li class="mb-1">
      <button type="button"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#cursos-collapse"
              aria-expanded="false">
        Cursos
      </button>
      <div class="collapse" id="cursos-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Listar</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Nuevo</a></li>
        </ul>
      </div>
    </li>

    <li class="border-top my-3"></li>
  </ul>
</div>