{% extends 'layout.html' %}

{% block title %}
  Catedras | Home
{% endblock %}

{% block body %}
<div class="row">
    <h2 class="text-secondary text-center"></h2>
    <div class="col-md-3">
      <!-- menu lateral -->
       <div class="flex-shrink-0 p-3 bg-white">
         <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
           <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
           <span class="fs-5 fw-semibold">Menu</span>
         </a>
         <ul class="list-unstyled ps-0">
           <li class="mb-1">
             <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
               Home
             </button>
             <div class="collapse show" id="home-collapse">
               <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                 <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                 <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li>
                 <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li>
               </ul>
             </div>
           </li>
           <li class="mb-1">
             <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
               Asignaturas
             </button>
             <div class="collapse" id="dashboard-collapse">
               <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                 <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Ver</a></li>
               </ul>
             </div>
           </li>
           <li class="mb-1">
             <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
               Catedras
             </button>
             <div class="collapse" id="orders-collapse">
               <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                 <li><a href="{{url_for('catedras.catedra')}}" class="link-dark d-inline-flex text-decoration-none rounded">Nueva</a></li>
                 <li><a href="{{url_for('catedras.list')}}" class="link-dark d-inline-flex text-decoration-none rounded">Ver Todas</a></li>
               </ul>
             </div>
           </li>
           <li class="border-top my-3"></li>
         </ul>
       </div>
    </div>
    <div class="col-md-9">
      <!-- {% for catedra in catedras %}
      <div class="card mb-1 bg-black text-white">
        <div class="card-body py-2 px-3">
          <div class="d-flex justify-content-between">
            <h5 class="card-title h6">{{ catedra.nombre }}</h5>
            <div>
              <a href="{{ url_for('catedras.view', idCatedra=catedra.idCatedra) }}" class="btn btn-dark btn-sm rounded-0">Ver+</a>
            </div>
          </div>
          <p class="card-text">{{ catedra.cargaHoraria }}</p>
          <p class="card-text">{{ catedra.caracter }}</p>
        </div>
      </div>
      {% endfor %} -->
      <div class="container px-4 py-5 text-white" id="icon-grid">
        <h2 class="pb-2 border-bottom">Catedras</h2>
    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
          {% for catedra in catedras %}
          <div class="col d-flex align-items-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
              <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
              <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
              <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
            </svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4">{{ catedra.nombre }}</h3>
              <span>Carga Horaria: <p>{{ catedra.cargaHoraria }} Hs</p></span>
              <span>Caracter: {{ catedra.caracter }}</span>
              <a class="btn btn-sm btn-outline-secondary" href="{{url_for('catedras.view', idCatedra=catedra.idCatedra)}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
              </svg> Mas Info</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
