{% extends 'layout.html' %}

{% block title %}
  Catedra | {{catedra.nombre}}
{% endblock %}

{% block body %}
<div class="row">
  <!-- MESSAGE -->
  {% include 'partials/_message.html' %}
    <h2 class="text-secondary text-center">{{catedra.nombre}}</h2>
    <hr class="my-4">
    <div class="col-md-3">
      <!-- menu lateral -->
       <div class="flex-shrink-0 p-3 bg-white">
         <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
           <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
           <span class="fs-5 fw-semibold">Menu</span>
         </a>
         <ul class="list-unstyled ps-0">
           <li class="mb-1">
             <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
               Home
             </button>
             <div class="collapse show" id="home-collapse">
               <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                 <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                 <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li>
                 <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li>
               </ul>
             </div>
           </li>
           <li class="mb-1">
             <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
               Asignaturas
             </button>
             <div class="collapse" id="dashboard-collapse">
               <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                 <li><a href="{{url_for('docentes.asignaturas')}}" class="link-dark d-inline-flex text-decoration-none rounded">Ver</a></li>
               </ul>
             </div>
           </li>
           <li class="mb-1">
             <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
               Catedras
             </button>
             <div class="collapse" id="orders-collapse">
               <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                 <li><a href="{{url_for('catedras.catedra')}}" class="link-dark d-inline-flex text-decoration-none rounded">Nueva</a></li>
                 <li><a href="{{url_for('catedras.list')}}" class="link-dark d-inline-flex text-decoration-none rounded">Ver Todas</a></li>
               </ul>
             </div>
           </li>
           <li class="border-top my-3"></li>
           <li class="mb-1">
             <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
               Account
             </button>
             <div class="collapse" id="account-collapse">
               <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                 <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                 <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                 <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                 <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
               </ul>
             </div>
           </li>
         </ul>
       </div>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
          <li class="list-group-item"><span class="fw-bold">Carga Horaria: </span>{{catedra.cargaHoraria}} Hs.</li>
          <li class="list-group-item"><span class="fw-bold">Docente: </span>{{docente.apellido}}, {{docente.nombre}}</li>
          <li class="list-group-item"><span class="fw-bold">Asignatura: </span>{{asignatura.nombre}}</li>
          <li class="list-group-item"><span class="fw-bold">Asignatura: </span>{{asignatura.descripcion}}</li>
          <li class="list-group-item"><span class="fw-bold">Caracter: </span>{{catedra.caracter}}</li>
      </ul>
      <hr class="my-4">
      <div class=" col-md-4 btn-group" role="group" aria-label="Basic radio toggle button group">
        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('catedras.list') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg> Volver</a>
        <a class="btn btn-outline-secondary btn-sm" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
          <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
          <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
        </svg> Imprimir</a>
      </div>
    </div>
  </div>
{% endblock %}
