{% extends 'layout.html' %}

{% block title %}
  Informacion Alumno
{% endblock %}

{% block body %}
<div class="row mb-3 text-center">
    <div class="col-md-8 themed-grid-col">
      <div class="pb-3">
        <h2 class="text-secondary">Datos del Alumno</h2>
        <hr class="my-4">
        <div class="table-responsive">
        <table class="table table-dark align-middle table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cuil</th>
                <th scope="col">F. Nacimiento</th>
                <th scope="col">Edad</th>
                <th scope="col">Genero</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              {% if alumno %}
              <tr>
                <td>{{alumno.apellido}}</td>
                <td>{{alumno.nombre}}</td>
                <td>{{alumno.cuil}}</td>
                <td>{{alumno.fechaNac}}</td>
                <td>{{age}}</td>
                <td>{{alumno.sexo}}</td>
                <td>{{alumno.direccion}}</td>
                <td>{{alumno.telefono}}</td>
                <td>{{alumno.email}}</td>
                <td><div>
                  <a href="#" class="btn btn btn-outline-info btn-sm rounded-0">Editar</a>
                </div></td>
              </tr>
                {% endif %}
            </tbody>
          </table>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6 themed-grid-col">
          <h2 class="text-secondary">Matricula</h2>
          <hr class="my-4">
          <div class="card text-center mb-1 bg-black text-white">
            <div class="card-body py-2 px-3">
              <div class="">
                <ul class="list-group">
                  <li class="list-group-item">
                    <label class="form-check-label">n° Matricula:</label>
                    {{matricula.idMatricula}}
                  </li>
                  <li class="list-group-item">
                    <label class="form-check-label">Fecha Alta:</label>
                    {{matricula.fechaInscripcion}}
                  </li>
                  <li class="list-group-item">
                    <label class="form-check-label">Condicion:</label>{{matricula.condicionIngreso}}
                  </li>
                  <li class="list-group-item">
                    <label class="form-check-label">Cursa:</label>{{matricula.añoAcademico}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 themed-grid-col">
          <h2 class="text-secondary">Estado Academico</h2>
          <hr class="my-4">
          <div class="vstack gap-3">
            <div class="bg-light border">First item</div>
            <div class="bg-light border">Second item</div>
            <div class="bg-light border">Third item</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 themed-grid-col">
        <h2 class="text-secondary">Datos del Tutor</h2>
        <hr class="my-4">
        <div class="card mb-1 bg-black text-white">
          <div class="card-body py-2 px-3">
            <div class="justify-content-between">
            <form>
                <div class="row mb-6 p-2">
                  <label class="col-sm-5 col-form-label">Apellido</label>
                  <div class="col-sm-7">
                    <span type="email" class="form-control">{{tutor.apellido}}</span>
                  </div>
                </div>
                <div class="row mb-6 p-2">
                  <label class="col-sm-5 col-form-label">Nombre</label>
                  <div class="col-sm-7">
                    <span type="email" class="form-control">{{tutor.nombre}}</span>
                  </div>
                </div>
                <div class="row mb-6 p-2">
                    <label class="col-sm-5 col-form-label">Parentesco</label>
                    <div class="col-sm-7">
                      <span type="email" class="form-control">{{tutor.parentesco}}</span>
                    </div>
                </div>
                <div class="row mb-6 p-2">
                  <label class="col-sm-5 col-form-label">Direccion</label>
                  <div class="col-sm-7">
                    <span type="email" class="form-control">{{tutor.direccion}}</span>
                  </div>
                </div>
                <div class="row mb-6 p-2">
                  <label class="col-sm-5 col-form-label">Telefono</label>
                  <div class="col-sm-7">
                    <span type="email" class="form-control">{{tutor.telefono}}</span>
                  </div>
                </div>
                <div class="row mb-6 p-2">
                  <label class="col-sm-5 col-form-label">Email</label>
                  <div class="col-sm-7">
                    <span type="email" class="form-control">{{tutor.email}}</span>
                  </div>
                </div>
              </form>
              </div>
          </div>
          </div>
    </div>
    <div class=" col-md-4 btn-group" role="group" aria-label="Basic radio toggle button group">
      <a class="btn btn-sm btn-outline-primary" href="{{ url_for('alumnos.home') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
      </svg> Volver</a>
      <a class="btn btn-outline-secondary btn-sm" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
      </svg> Imprimir</a>
    </div>
  </div>
{% endblock %}
