{% extends 'layout.html' %}

{% block title %}
  Informacion Alumno
{% endblock %}

{% block body %}
<!-- MESSAGE -->
<div class="row mb-3 text-center">
  <div class="col-md-2">
    <!-- menu lateral -->
    {% include 'partials/_sidebarDteCdra.html' %}
  </div>
  <div class="col-md-10">
       <!-- MESSAGE -->
       {% include 'partials/_message.html' %}
    <h2 class="text-secondary">Legajo Alumno</h2>
     <!-- Botón Volver -->
        <div class="mb-4">
            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('alumnos.home') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg> Volver</a>
        </div>
     <div class="container py-3">
        <div class="row g-4">
            <!-- Columna Izquierda: Tarjeta Principal de Perfil -->
            <div class="col-lg-5">
                <div class="card shadow-sm border-0 text-center h-100">
                    <div class="card-body pt-5">
                        <!-- Foto de Perfil -->
                        <img src="https://github.com/mdo.png"
                             alt="Foto del Docente" 
                             class="rounded-circle img-thumbnail mb-3" 
                             style="width: 150px; height: 150px; object-fit: cover;">                        
                        <!-- Nombre y Cargo -->
                        <h5 class="text-secondary">Legajo n°: <span class="badge border border-secondary text-primary">{{alumno.legajo}}</span></h5>
                        <hr>
                        <h4 class="card-title mb-1">{{alumno.apellido}}, {{alumno.nombre}}</h4>
                        <hr>
                        <!-- Datos Legales -->
                        <div class="text-start px-3">
                            <p class="mb-2">
                                <i class="fas fa-envelope text-dark me-2">
                                <span class="text-muted small d-block">N° de Documento</span>
                                <strong>{{alumno.dni}}</strong></i>
                            </p>
                            <p class="mb-2">
                                <i class="fas fa-envelope text-dark me-2">
                                <span class="text-muted small d-block">N° Cuil</span>
                                <strong>{{alumno.cuil}}</strong></i>
                            </p>
                            <p class="mb-2">
                                <i class="fas fa-envelope text-dark me-2">
                                <span class="text-muted small d-block">Fecha de Nacimiento</span>
                                <strong>{{alumno.fecha_nacimiento}}</strong></i>
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-building text-dark me-2">
                                <span class="text-muted small d-block">Edad</span>
                                <script>//Calcular edad a partir de la fecha de nacimiento
                                    //<![CDATA[
                                    var d = new Date("{{alumno.fecha_nacimiento}}");
                                    var edad = Math.floor((Date.now() - d.getTime()) / (1000 * 60 * 60 * 24 * 365.25));
                                    document.write('<strong>' + edad + '</strong>');
                                    //]]> 
                                </script></i>
                            </p>
                        </div>
                        <!-- Datos Rápidos de Contacto -->
                        <div class=" form-group text-start px-3">
                            <p class="mb-2">
                                <i class="fas fa-envelope text-dark me-2">
                                <span class="text-muted small d-block">Correo Electrónico</span>
                                <strong>{{alumno.email}}</strong></i>
                            </p>
                            <p class="mb-2">
                                <i class="fas fa-phone text-dark me-2">
                                <span class="text-muted small d-block">Teléfono </span>
                                <strong>{{alumno.telefono}}</strong></i>
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-building text-dark me-2">
                                <span class="text-muted small d-block">Domicilio</span>
                                <strong>{{alumno.direccion}}</strong></i>
                            </p>
                        </div>
                    </div>
                    <!-- Opciones para gestionar alumno -->
                    <div class="card-footer bg-transparent border-0 pb-4">
                        <div class="d-flex justify-content-center gap-2">
                            <a href="{{ url_for('alumnos.update_alumno', alumno=alumno.id) }}" class="btn btn-sm btn-outline-primary"><i class="fab fa-linkedin-in"></i>Editar</a>
                            <a href="#" class="btn btn-sm btn-outline-secondary"><i class="fab fa-github"></i>Promover</a>
                            <form action="#" method="POST" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar permanentemente a este alumno?');">
                                <button type="submit" class="btn btn-outline-danger btn-sm">
                                <i class="bi bi-trash"></i>Borrar Registro</button>
                            </form>
                            <!-- <a href="#" class="btn btn-sm btn-outline-danger rounded-circle"><i class="fas fa-graduation-cap"></i>Eliminar</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Columna Derecha: Información Detallada -->
            <div class="col-lg-7">
                <div class="card shadow-sm border-0 h-100">
                    <!-- Navegación por Pestañas (Tabs) -->
                    <div class="card-header bg-transparent border-0 pt-3">
                        <ul class="nav nav-tabs card-header-tabs" id="docenteTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active fw-semibold" id="perfil-tab" data-bs-toggle="tab" data-bs-target="#perfil-pane" type="button" role="tab">Perfil de Alumno</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link fw-semibold" id="docencia-tab" data-bs-toggle="tab" data-bs-target="#docencia-pane" type="button" role="tab">Datos de Tutor</button>
                            </li>
                        </ul>
                    </div>

                    <!-- Contenido de las Pestañas -->
                    <div class="card-body p-4">
                        <div class="tab-content" id="myTabContent">
                            
                            <!-- PESTAÑA 1: PERFIL ALUMNO -->
                            <div class="tab-pane fade show active" id="perfil-pane" role="tabpanel" tabindex="0">
                                <!-- Biografía -->
                                <h5 class="mb-3 text-secondary border-bottom pb-2">Biografía</h5>
                                <p class="text-muted">
                                    Profesorado en Matematicas con más de 12 años de experiencia en la docencia,
                                     trabajando en el establecimiento especializada en metodologías de aprendizaje.
                                </p>

                                <!-- Formación Académica -->
                                <h5 class="mt-4 mb-3 text-secondary border-bottom pb-2">Historia Académica</h5>
                                <ul class="list-unstyled position-relative ms-2">
                                    <li class="mb-3 ps-3 border-start border-primary border-3">
                                        <div class="fw-bold">Ingreso al Establecimiento</div>
                                        <div class="text-muted small">
                                            <i class="fas fa-calendar-alt me-2"></i> 15 de Marzo de 2010
                                        </div>
                                    </li>
                                    <li class="mb-0 ps-3 border-start border-primary border-3">
                                        <div class="fw-bold">Cursos y puntajes</div>
                                        <div class="text-muted small">Universidad Estatal — 200</div>
                                    </li>
                                </ul>

                                <!-- Áreas de Investigación -->
                                <h5 class="mt-4 mb-3 text-secondary border-bottom pb-2">Áreas de Especialización</h5>
                                <div class="d-flex flex-wrap gap-2">
                                    <span class="px-3 py-2">Cloud Computing</span>
                                    <span class=" px-3 py-2">DevOps</span>
                                    <span class=" px-3 py-2">Clean Code</span>
                                    <span class="  px-3 py-2">Arquitectura de Microservicios</span>
                                </div>
                            </div>

                            <!-- PESTAÑA 2: DATOS DEL TUTOR -->
                            <div class="tab-pane fade" id="docencia-pane" role="tabpanel" tabindex="0">
                              <div class="table-responsive mb-4">
                                  {% for tutor in alumno.tutores%}                           
                              <div class="card" style="width: 18rem;">
                                <img src="https://github.com/mdo.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">{{tutor.nombre}}, {{tutor.apellido}}</h5>
                                  <p class="card-text">{{tutor.parentesco}}</p>
                                </div>
                                <ul class="list-group">
                                  <li class="list-group-item"><p><u>Direccion:</u></p>{{tutor.direccion}}</li>
                                  <li class="list-group-item"><p><u>Telefono:</u></p>{{tutor.telefono}}</li>
                                  <li class="list-group-item"><p><u>Email:</u></p>{{tutor.email}}</li>
                                </ul>
                                <div class="card-body">
                                  <a href="{{ url_for('alumnos.update_tutor', alumno=alumno.id) }}" class="btn btn-sm btn-outline-primary card-link">Editar</a>
                                </div>
                              </div>
                              {% endfor %}
                                      </div>
                            </div> <!-- Cierre de tab-pane docencia-pane -->
                          </div> <!-- Cierre de tab-content -->
                    </div> <!-- Cierre de card-body -->
              </div> <!-- Cierre de card -->
            </div> <!-- Cierre de tab-content -->


  </div> <!-- Cierre de row -->
</div> <!-- Cierre de container -->
{% endblock %}
