{% extends 'layout.html' %}

{% block title %}
  Matricula
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-3">
     <!-- menu lateral -->
      {% include 'partials/_sidebar.html' %}
    </div> 
    <div class="col-md-9">
        <h3 class="text-white">Matricula</h3> 
        <form action="{{url_for('alumnos.matricular', alumno_id=alumno.idAlumno)}}" method="POST" class="bg-black ">
            <div class="card-body p-4">
              <div class="mb-3 text-center">
                <h3 class="text-light" for="Alumno">{{alumno.apellido}}, {{alumno.nombre}}</h3>
                <!-- <label for="idAlumno" name="alumno_id" value="{{alumno.idAlumno}}">{{alumno.idAlumno}}</label> -->
              </div>
              <div class="mb-3">
                <label class="text-light" for="tutor">Fecha Inscripcion:</label>
              <input
              type="date"
              name="fechaInscripcion"
              class="form-control rounded-0 bg-dark border-0 text-white"
              autofocus
              required
              />
              </div>
              <div class="mb-3">
                <label for="nombre">Fecha Re-Inscripcion:</label>
                <input
                  type="date"
                  name="reInscripcion"
                  class="form-control rounded-0 bg-dark border-0 text-white"
                  value=""
                />
              </div>
              <div class="card text-bg-secondary mb-3 mb-3">
                  <div class="card-header">
                    <label>Condicion de Ingreso:</label>
                  </div>
                  <div class="card-body">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="condicionIngreso" value="Ingresante">
                      <label class="form-check-label" for="condicionIngreso">Nuevo Ingresante</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="condicionIngreso" value="PaseDeEstablecimiento">
                      <label class="form-check-label" for="condicionIngreso">Pase de Establecimiento</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-label">Año Academico:</label>
                      <select name="añoAcademico" class="form-select form-check-inline">
                        <option selected>elegir...</option>
                        <option>1er_Año</option>
                        <option>2do_Año</option>
                        <option>3er_Año</option>
                        <option>4to_Año</option>
                        <option>5to_Año</option>
                        <option>6to_Año</option>
                      </select>
                    </div>
                  </div>
              </div>
              <button class="btn btn-primary">Guardar</button>
            </div>
          </form>
    </div>
</div>
{% endblock %}