{% extends 'layout.html' %}

{% block title %}
  Inscripcion
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-3">
     <!-- menu lateral -->
      {% include 'partials/_sidebar.html' %}
    </div> 
    <div class="col-md-9">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Agregar Datos del Tutor
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {% include 'partials/_formTutor.html' %}
                </div>
              </div>
            </div>
            <!-- MESSAGE -->
       {% include 'partials/_message.html' %}
            <li class="border-top my-3"></li>
        <h3 class="text-white">Agregar datos del Alumno</h3> 
        <form action="/newAlumno" method="POST" class="card bg-black text-light">
            <div class="card-body p-4">
              <div class="mb-3">
                <label for="tutor">tutor:</label>
                <input
                  type="text"
                  name="idTutor"
                  class="form-control rounded-0 bg-dark border-0 text-white"
                  value="{{ tutor }}"
                  autofocus
                  required
                />
              </div>
              <div class="mb-3">
                <label for="nombre">Nombre:</label>
                <input
                  type="text"
                  name="nombre"
                  class="form-control rounded-0 bg-dark border-0 text-white"
                  placeholder="escriba el nombre"
                  autofocus
                  required
                />
              </div>
              <div class="mb-3">
                <label for="apellido">Apellido:</label>
                <input
                  type="text"
                  name="apellido"
                  class="form-control rounded-0 bg-dark border-0 text-white"
                  placeholder="escriba el apellido"
                  autofocus
                  required
                />
              </div>
              <div class="mb-3">
                <label for="cuil">Cuil:</label>
                <input
                  type="text"
                  name="cuil"
                  class="form-control rounded-0 bg-dark border-0 text-white"
                  placeholder="cuil sin guiones"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="cuil">Fecha de Nacimiento:</label>
                <input
                  type="date"
                  name="fechaNac"
                  class="form-control rounded-0 bg-dark border-0 text-white"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="cuil">Genero:</label>
                <!-- <input
                  type="text"
                  name="sexo"
                  class="form-control rounded-0 bg-dark border-0 text-white"
                  placeholder="Masculino - Femenino - Otro"
                  required
                /> -->
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Femenino</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                  <label class="form-check-label" for="inlineRadio3">No Binario</label>
                </div>
              </div>
              <div class="mb-3">
                <label for="direccion">Direccion:</label>
                <input
                  type="text"
                  name="direccion"
                  class="form-control rounded-0 bg-dark border-0 text-white"
                  placeholder="calle n° - Ciudad"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="telefono">telefono:</label>
                <input
                  type="text"
                  name="telefono"
                  class="form-control rounded-0 bg-dark border-0 text-white"
                  placeholder="+54 codigo area + numero"
                />
              </div>
              <div class="mb-3">
                <label for="email">Email:</label>
                <input
                  type="text"
                  name="email"
                  class="form-control rounded-0 bg-dark border-0 text-white"
                  placeholder="ej: colegio@dominio.com.ar"
                />
              </div>  
              <button class="btn btn-primary">Guardar</button>
            </div>
          </form>
    </div>
</div>
{% endblock %}