{% extends 'layout.html' %}

{% block title %}
  Matricula
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-3">
     <!-- menu lateral -->
      {% include 'partials/_sidebar.html' %}
    </div>
    <div class="col-md-9">
         <!-- MESSAGE -->
         {% include 'partials/_message.html' %}
      <h2 class="text-secondary">Datos del Alumno</h2>
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Apellido</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cuil</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% if alumno %}
          <tr>
            <td>{{alumno.apellido}}</td>
            <td>{{alumno.nombre}}</td>
            <td>{{alumno.cuil}}</td>
            <td><div>
              <a href="/alumnos/matricula/{{alumno.idAlumno}}" class="btn btn-sm btn-outline-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
<path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
</svg>Matricular</a>
            </div></td>
          </tr>
            {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
