{% extends 'layout.html' %}

{% block title %}
  Docentes | Home
{% endblock %}

{% block body %}
    <!-- FORM -->
<div class="row">
  <div class="col-md-3">
   <!-- menu lateral -->
   {% include 'partials/_sidebarDteCdra.html' %}
  </div>
  <div class="col-md-9">
       <!-- MESSAGE -->
       {% include 'partials/_message.html' %}
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarDocente">
         Agregar Docente
       </button>
       <!-- Modal -->
           <div class="modal fade" id="agregarDocente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-dialog-scrollable">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Agregar Datos del Docente</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                   {%  include 'partials/_formDocente.html' %}
                 </div>
                 <div class="modal-footer">
                   <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                   <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                 </div>
               </div>
             </div>
           </div>
    <h2 class="text-secondary">Gestion de Docentes</h2>
    <hr class="my-4">
    <p class="text-secondary"> <strong>Registros </strong><span class="badge bg-light text-secondary">{{ cantidad }}</span></p>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Apellido</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cuil</th>
          <th scope="col">Direccion</th>
          <th scope="col">Telefono</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for docente in docentes %}
        <tr>
          <td>{{docente.apellido}}</td>
          <td>{{docente.nombre}}</td>
          <td>{{docente.cuil}}</td>
          <td>{{docente.direccion}}</td>
          <td>{{docente.telefono}}</td>
          <td>{{docente.email}}</td>
          <td><div>
            <a href="{{ url_for('docentes.updateDocente', idDocente=docente.idDocente) }}" class="btn btn-outline-secondary btn-sm rounded-0">Edit</a>
            <a href="{{ url_for('docentes.deleteDocente', idDocente=docente.idDocente) }}" class="btn btn btn-outline-danger btn-sm rounded-0">Delete</a>
          </div></td>
        </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
