{% extends 'layout.html' %}

{% block title %}
  SIAC | Home 
{% endblock %}

{% block body %}

    <!-- FORM -->
    <div class="row">

    <div class="col-md-5 p-5">
      <!-- MESSAGE -->
      {% include 'partials/_message.html' %}
    </div>

    <!-- colegio -->
     {% for colegio in colegio %}
    <div class="card text-center">
      <div class="card-header">
        <h5 class="card-title">{{ colegio.nombre_colegio}}</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Breve Descripcion del Colegio</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eligendi at consequatur, obcaecati eveniet fugiat pariatur quam magnam rem unde! Ex id suscipit incidunt blanditiis pariatur aliquid dicta architecto. Expedita.</p>
        <span class="badge bg-primary"> Correo Electronico:</span>
        <div class="d-inline p-2">{{ colegio.email }}</div>
        <span class="badge bg-primary">telefono:</span>
        <div class="d-inline p-2">{{ colegio.telefono }}</div>
      </div>
      {% endfor %}
      <div class="card-footer text-muted">
        Fecha de hoy
      </div>
    </div>
  </div>
</div>
{% endblock %}
