{% extends "layout.html" %}
{% block title %}Panel de Asistencia{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-2">
   <!-- menu lateral -->
    {% include 'partials/_sidebar.html' %}
  </div>
  <div class="col-md-10">
    <div class="container mt-4 bg-light p-2 rounded-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Clases del {{ dia_nombre }} {{ fecha.strftime('%d/%m/%Y') }}</h2>
        <form method="get" class="d-flex gap-2">
            <input type="date" name="fecha" value="{{ fecha.isoformat() }}" class="form-control">
            <button type="submit" class="btn btn-outline-primary">Ver</button>
        </form>
    </div>

    {% if not clases %}
        <div class="alert alert-info">No hay clases programadas para este día.</div>
    {% else %}
    <table class="table table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th>Turno</th>
                <th>Asignatura</th>
                <th>Docente</th>
                <th>Aula</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for clase in clases %}
            <tr>
                <td>{{ clase.turno.nombre_turno }}</td>
                <td>{{ clase.asignatura.nombre_asignatura }}</td>
                <td>{{ clase.docente.apellido }}, {{ clase.docente.nombre }}</td>
                <td>{{ clase.aula.nombre_aula }}</td>
                <td>
                    <a href="{{ url_for('asistencia.tomar_asistencia', id_clase=clase.id_clase, fecha=fecha.isoformat()) }}"
                       class="btn btn-sm btn-outline-primary">
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
                        </svg> Tomar asistencia
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
    </div>
</div>    
{% endblock %}